@import "tailwindcss";

:root {
  --background: #F3F4FF;
  --foreground: #210124;
}

@theme inline {
  --color-lightneutral: var(--background);
  --color-darkneutral: var(--foreground);
  --color-midneutral: #595959;
  --color-mystery: #6E43B7;
  --color-hope: #93D4EB;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #210124;
    --foreground: #F3F4FF;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
