@import 'tailwindcss';

:root {
  --background: #F3F4FF;
  --foreground: #210124;
}

@theme inline {
  --color-lightneutral: var(--background);
  --color-darkneutral: var(--foreground);
  --color-midneutral: #595959;
  --color-mystery: #6E43B7;
  --color-neon: #F7FF00;
  --color-sky: #93D4EB;
  --font-sans: var(--font-league-spartan);
  --font-catchy: var(--font-fredericka);
  --font-compact: var(--font-oswald);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #210124;
    --foreground: #F3F4FF;
  }
} */

@layer base {
  body {
    font-family: var(--font-sans), Arial, Helvetica, sans-serif;
    background: var(--background);
    color: var(--foreground);
    font-variation-settings: 'opsz' 16;
  }
}

@layer components {
  .dash-list-child {
    @apply [&_ul>li]:list-none [&_ul>li]:before:content-['-'] [&_ul>li]:before:mr-2;
  }
  .book-container {
    @apply p-4 h-full flex flex-col items-center justify-center;
  }
  .book-caption {
    @apply pt-1 font-compact text-lg;
  }
}

@layer utilities {
  .basic-link-hover-style {
    @apply hover:underline hover:decoration-mystery hover:decoration-dotted hover:underline-offset-4;
  }
  .basic-link-active-style {
    @apply active:bg-neon active:decoration-darkneutral;
  }
  .reset-focus {
    @apply focus:outline-2 focus:outline-offset-2 focus:outline-mystery;
  }
  .block-link-hover-style {
    @apply hover:outline-dotted hover:outline-mystery hover:outline-3;
  }
  .block-link-active-style {
    @apply active:bg-neon active:outline-darkneutral;
  }
  .reset-focus-block {
    @apply focus:outline-3 focus:outline-mystery;
  }
}
